---
import EventCompact from "@/components/Event/EventCompact.astro";
import Section from "@/components/Common/Section.astro";

interface Props {
  events: any[]; // Type from getEvents()
}

const { events } = Astro.props;
---

<Section wide class="flex flex-col">
  {
    events.map((event) => (
      <div data-item-id={event.slug || event.id}>
        <EventCompact eventSlug={event.id} class="border-b border-base-300 last:border-0" />
      </div>
    ))
  }
</Section>
