---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import Container from "../../components/Container.astro";
import Section from "../../components/Section.astro";
import { getEntry } from "astro:content";

export async function getStaticPaths() {
  const venues = await getCollection("venues");

  // Only create pages for venues with hasPage: true
  const venuePaths = venues
    .filter((venue) => venue.data.hasPage)
    .map((venue) => ({
      params: { slug: venue.id },
    }));

  return venuePaths;
}

const { slug } = Astro.params;
// TODO replace with resolveVenue , like with events..
const venue = await getEntry("venues", slug);
---

{
  venue && (
    <PageLayout title={venue.data.title}>
      <Container>
        <Section title={venue.data.title}>
          <div>TODO</div>
        </Section>
      </Container>
    </PageLayout>
  )
}
