---
import { Icon } from "astro-icon/components";

export interface Props {
  options: Array<{ value: string; label: string }>;
  selected: string;
}

const { options, selected } = Astro.props;
---

<div class="dropdown dropdown-bottom">
  <div 
    tabindex="0" 
    role="button" 
    class="btn btn-sm"
  >
    <Icon name="lucide:arrow-up-down" class="w-4 h-4" />
    Sort
  </div>
  <ul 
    tabindex="0" 
    class="dropdown-content z-50 menu p-2 shadow bg-base-100 rounded-box w-48"
  >
    {options.map((option) => (
      <li>
        <label class="cursor-pointer">
          <input 
            type="radio" 
            name="sort" 
            class="radio radio-sm radio-primary"
            value={option.value}
            checked={selected === option.value}
            data-filter="sort"
          />
          <span>{option.label}</span>
        </label>
      </li>
    ))}
  </ul>
</div>