body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn {
  font-family: var(--font-header);
  font-weight: 500;
  &.font-bold {
    font-weight: 700;
  }
}

code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
}

.font-body {
  font-family: var(--font-body);
}

.font-header {
  font-family: var(--font-header);
}

.font-mono {
  font-family: var(--font-mono);
}
