---
import { resolveEvent } from "@/data";
import PageLayout from "@/layouts/PageLayout.astro";
import Section from "@/components/Common/Section.astro";
import EventDetails from "./EventDetails.astro";
import EventGallery from "./EventGallery.astro";
import EventNav from "./EventNav.astro";
import EventPeople from "./EventPeople.astro";
import EventLinks from "./EventLinks.astro";
import StickyNavigation from "@/components/Layout/StickyNavigation.astro";

const event = await resolveEvent(Astro);

// Get topics as a description
const description = event.data.topics?.length
  ? `Topics: ${event.data.topics.join(", ")}`
  : "Join us for this exciting tech meetup event!";

// Prepare event-specific OG image params
const ogImageParams = {
  type: "event" as const,
  slug: event.id,
};
---

<PageLayout
  title={`${event.data.title} - Events`}
  description={description}
  type="article"
  ogImageParams={ogImageParams}
>
  <Section>
    <EventDetails />
  </Section>
  <EventPeople />
  <EventLinks />
  <EventGallery />
  <Section>
    <EventNav class="event-navigation" />
  </Section>
  <StickyNavigation navigationClass="event-navigation">
    <EventNav />
  </StickyNavigation>
</PageLayout>
