---
import PageLayout from "../layouts/PageLayout.astro";
import Link from "../components/Link.astro";
import { generateSitemapURLs } from "../utils/sitemap";

const urls = await generateSitemapURLs();
---

<PageLayout title="Sitemap">
  <div class="container mx-auto px-4 py-8 prose">
    <h1>Sitemap</h1>
    <p>This page lists every accessible route on the website for easy navigation.</p>
    <ul>
      {urls.map((href) => (
        <li><Link href={href}>{href}</Link></li>
      ))}
    </ul>
  </div>
</PageLayout>