---
import { resolveEvent } from "../data";
import PageLayout from "../layouts/PageLayout.astro";
import Section from "./Section.astro";
import EventDetails from "./EventDetails.astro";
import EventGallery from "./EventGallery.astro";
import EventNav from "./EventNav.astro";
import EventPeople from "./EventPeople.astro";
import StickyNavigation from "./StickyNavigation.astro";

const event = await resolveEvent(Astro);
---

<PageLayout title={`${event.data.title} - Events`}>
  <Section>
    <EventDetails />
  </Section>
  <EventPeople />
  <EventGallery />
  <Section>
    <EventNav class="event-navigation" />
  </Section>
  <StickyNavigation navigationClass="event-navigation">
    <EventNav />
  </StickyNavigation>
</PageLayout>
