---
import { getCollection } from "astro:content";
import EventFeatured from "./EventFeatured.astro";
import EventGalleryImages from "./EventGalleryImages.astro";
import Grid from "./Grid.astro";

interface Props {
  events: any[]; // Type from getEvents()
}

const { events } = Astro.props;

// Get all gallery images to determine which events have galleries
const allGalleryImages = await getCollection("eventGalleryImage");

// Create a Set of event IDs that have gallery images
const eventsWithGallery = new Set(allGalleryImages.map((img) => img.data.event.id));
---

<div class="space-y-8">
  {
    events.map((event, i) => {
      const hasGallery = eventsWithGallery.has(event.id);
      
      return (
        <div 
          data-item-id={event.slug || event.id}
          class:list={[
            "py-8",
            i % 2 === 0 ? "" : "bg-base-100/50",
            !hasGallery && "hidden"
          ]}
        >
          {hasGallery && (
            <div class="container mx-auto px-4">
              <div class="flex flex-col gap-12">
                <EventFeatured eventSlug={event.id} />
                <Grid>
                  <EventGalleryImages eventSlug={event.id} />
                </Grid>
              </div>
            </div>
          )}
        </div>
      );
    })
  }
</div>
