---
import { resolveEvent } from "../data";
import PageLayout from "../layouts/PageLayout.astro";
import Section from "./Section.astro";
import EventDetails from "./EventDetails.astro";
import EventGallery from "./EventGallery.astro";
import EventNavigation from "./EventNavigation.astro";
import EventPeople from "./EventPeople.astro";

const event = await resolveEvent(Astro);
---

<PageLayout title={`${event.data.title} - Events`}>
  <Section>
    <EventNavigation />
    <EventDetails />
  </Section>
  <EventPeople />
  <EventGallery />
  <Section>
    <EventNavigation />
  </Section>
</PageLayout>
