---
import Section from "./Section.astro";
import { getEvents, getMembers } from "../data";
import MemberSummary from "./MemberSummary.astro";

const { slug: eventId } = Astro.params;

// TODO refactor this into a getEventSpeakers
const events = await getEvents();
const currentIndex = events.findIndex((e) => e.id === eventId);
const event = events[currentIndex];
const members = await getMembers();
const eventSpeakers = members.filter((member) =>
  member.events.find((e) => event.id.startsWith(`${e}`)),
);
---

{
  eventSpeakers.length > 0 && (
    <Section grid title="Speakers">
      {eventSpeakers.map((speaker) => (
        <MemberSummary member={speaker} />
      ))}
    </Section>
  )
}
