---
import { Icon } from "astro-icon/components";
import type { Event } from "../data";
import { formatDate } from "../utils/formatDate";

interface Props {
  event: Event;
}

const { event } = Astro.props;
---

<div class="flex flex-col gap-4 md:p-4">
  <div class="flex rounded gap-2 items-center">
    <Icon name="lucide:clock" size={20} />
    <span>{formatDate(event.dateTime, {
      weekday: "long",
      year: "numeric",
      month: "long",
      day: "numeric",
    })}</span>
  </div>
</div>
