---
import { Icon } from "astro-icon/components";
import { resolveEvent } from "../data";
import { formatDate } from "../utils/date";

const event = await resolveEvent(Astro);
---

<div class="flex flex-col gap-4 md:p-4">
  <div class="flex rounded gap-2 items-center">
    <Icon name="lucide:clock" size={20} />
    <span>
      {formatDate(event.data.dateTime, "long")}
    </span>
  </div>
</div>
