---
import EventPrevNextButton from "./EventPrevNextButton.astro";
import { getEvents, resolveEvent } from "../data";

const event = await resolveEvent(Astro);

const events = await getEvents();
const currentIndex = events.findIndex(({ data }) => data.id === event.id);
const prevEvent = currentIndex > 0 ? events[currentIndex - 1] : null;
const nextEvent = currentIndex < events.length - 1 ? events[currentIndex + 1] : null;
---

<div class="event-navigation flex items-center mb-8 gap-4">
  <EventPrevNextButton data={prevEvent?.data} />
  <EventPrevNextButton data={nextEvent?.data} next />
</div>
