---
import EventSummary from "./EventSummary.astro";
import Section from "./Section.astro";

interface Props {
  events: any[]; // Type from getEvents()
}

const { events } = Astro.props;
---

<Section grid wide>
  {
    events.map((event) => (
      <div data-item-id={event.slug || event.id}>
        <EventSummary eventSlug={event.id} />
      </div>
    ))
  }
</Section>