---
import { resolveInternalHref } from "../utils/urlResolver";
// Link.astro: A drop-in replacement for <a> that prepends Astro.base to internal links
const { href = "", ...props } = Astro.props;
const finalHref = resolveInternalHref(href);
---

<a href={finalHref} {...props}><slot /></a>
