---
import { resolveHref } from "../utils/resolveHref";
// Link.astro: A drop-in replacement for <a> that prepends Astro.base to internal links
const { href = "", ...props } = Astro.props;
const finalHref = resolveHref(href);
---

<a href={finalHref} {...props}><slot /></a>
