---
import { getMembers } from "../data";
import Button from "./Button.astro";
import MemberImage from "./MemberImage.astro";

const members = await getMembers();
---

<div class="space-y-12">
  <div class="grid grid-cols-[repeat(auto-fit,minmax(4rem,1fr))] gap-4">
    {
      members.map((member) => (
        <div class="avatar">
          <MemberImage member={member} class="w-16 h-16" />
        </div>
      ))
    }
  </div>

  <div class="flex justify-center">
    <Button class="btn-xl" href="/community" text="View All Members" />
  </div>
</div>
