---
import { Icon } from "astro-icon/components";

interface Props {
  link: {
    text: string;
    href: string;
    icon: string;
  };
}

const { link } = Astro.props;

if (!link) return null;

const { text, href, icon } = link;
---

<a
  href={href}
  target={!href.startsWith("mailto:") ? "_blank" : undefined}
  rel={!href.startsWith("mailto:") ? "noopener noreferrer" : undefined}
  class="text-lg link link-hover flex items-center gap-2"
>
  <Icon name={icon} size={20} />
  {text}
</a>
