---
import PageLayout from "../layouts/PageLayout.astro";
import Section from "./Section.astro";
import PersonDetails from "./PersonDetails.astro";
import PersonNav from "./PersonNav.astro";
import EventFeatured from "./EventFeatured.astro";
import StickyNavigation from "./StickyNavigation.astro";

import { getEvents, resolvePerson } from "../data";

const person = await resolvePerson(Astro);

const events = await getEvents();
const personEvents = events.filter((event) =>
  person.events.find((e) => event.id.startsWith(`${e}`)),
);
---

<PageLayout title={`${person.name} - Community`}>
  <Section>
    <PersonDetails person={person} />
  </Section>
  {
    personEvents.length > 0 && (
      <Section title="Events">
        <div class="flex flex-col gap-8 pt-8">
          {personEvents.map((event) => (
            <EventFeatured eventSlug={event.id} />
          ))}
        </div>
      </Section>
    )
  }
  <Section>
    <PersonNav class="person-navigation" />
  </Section>

  <StickyNavigation navigationClass="person-navigation">
    <PersonNav />
  </StickyNavigation>
</PageLayout>
