---
import { type Person } from "@/data";
import { Icon } from "astro-icon/components";

interface Props {
  person: Person;
  class?: string;
}

const { person, class: extraClass = "rounded-lg" } = Astro.props as Props;
---

<div
  data-theme={person.theme}
  class={`overflow-hidden flex items-center justify-center bg-primary text-primary-content w-full h-full ${extraClass}`}
>
  {
    person.avatar && person.avatar.length > 0 ? (
      <img src={person.avatar} alt={person.name} class="w-full h-full object-cover" />
    ) : (
      <Icon name="lucide:user" class="w-full h-full opacity-50" />
    )
  }
</div>
