---
import "../styles/global.css";
import { SITE } from "../config";
import { resolveHref } from "../utils/resolveHref";

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
const pageTitle = title ? SITE.title.template.replace("%s", title) : SITE.title.default;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no"
    />
    <title>{pageTitle}</title>
    {description && <meta name="description" content={description} />}
    <link
      rel="alternate"
      type="application/rss+xml"
      title={`${SITE.name} - Events RSS Feed`}
      href={resolveHref(`/rss.xml`)}
    />
    <script is:inline>
      // ☝️ This script prevents the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "wireframe");
      } else {
        document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));
      }
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
  </head>
  <body class="bg-green-200">
    <slot />
  </body>
</html>
